*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
body{
    background-color: #f4f4f0;
}
.nav-container{
    font-family: "Mozilla Headline";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #000;
    color: white;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container h1{
    margin: 1.3rem;
    font-style: normal;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Bebas Neue";
    font-optical-sizing: auto;
    letter-spacing: 1rem;
}
.iconship{
    margin: 1.3rem 0em 1.3rem 2rem;
   }
.nav-left {
    list-style: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.nav-left li:not(.login):not(.sell):not(.about){
    padding: 1.1rem;
    margin-right: 2rem;
}
.nav-left li:not(.login):not(.sell):hover {
    border: 1px solid white;
    padding: 0.7rem 1rem;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about{
    background-color: rgb(255, 255, 255);
    padding: 0.6rem 1rem;
    border-radius: 4rem;
    color: black;
    margin-right: 1.5rem;
}
.login{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1.8rem 2rem;
    border-left: white solid 1px;
    
}
.login:hover{
    background-color: white;
    color: black;
    border-bottom: #000000 solid 1px;
}
.sell{
    background-color: #ff90e8;
    color: #000;
    height: 100%;
    display: flex;
    padding: 1.8rem;
    align-items: center;
    border-bottom: #000 solid 1px;
    border-left: #000 solid 1px;
}

.sell:hover{
    background-color: white;
}

